/* Classes acionadas pelo CSSTransition para animar o overlay do modal */
.add-task-modal-enter {
  opacity: 0;
}

.add-task-modal-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.add-task-modal-exit {
  opacity: 1;
}

.add-task-modal-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
